@charset "UTF-8";
@font-face {
  font-family: 'Raleway';
  src: url("../fonts/Raleway/Raleway-Light.woff2") format("woff2");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Raleway';
  src: url("../fonts/Raleway/Raleway-Regular.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Raleway';
  src: url("../fonts/Raleway/Raleway-SemiBold.woff2") format("woff2");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Raleway';
  src: url("../fonts/Raleway/Raleway-Bold.woff2") format("woff2");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Raleway';
  src: url("../fonts/Raleway/Raleway-ExtraBold.woff2") format("woff2");
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: 'OpenSans';
  src: url("../fonts/OpenSans/OpenSans.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'OpenSans';
  src: url("../fonts/OpenSans/OpenSans-Bold.woff2") format("woff2");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'OpenSans';
  src: url("../fonts/OpenSans/OpenSans-Semibold.woff2") format("woff2");
  font-weight: 600;
  font-style: normal;
}

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  min-height: 500px;
  margin: 0 auto;
  font-family: Raleway, sans-serif;
  font-weight: normal;
  font-size: 16px;
  color: #000;
}

h1, .h1 {
  margin-bottom: 15px;
  font-size: 27px;
  color: #272727;
  font-weight: 600;
}

h2, .h2 {
  margin-bottom: 20px;
  font-size: 23px;
  font-weight: bold;
  color: #272727;
}

h3 {
  font-size: 20px;
  color: #434343;
  font-weight: bold;
}

h4, .h4 {
  font-size: 17px;
  font-weight: 800;
}

h5, .h5 {
  font-size: 16px;
  font-weight: bold;
  color: #000;
}

a {
  color: #000;
  text-decoration: none;
  outline: none;
  -webkit-transition: all .3s ease;
  -o-transition: all .3s ease;
  transition: all .3s ease;
}

a:hover {
  opacity: 0.7;
  text-decoration: none;
  outline: none;
  color: inherit;
}

a:active {
  opacity: 0.6;
  outline: none;
  color: inherit;
  text-decoration: none;
}

a:focus {
  outline: none;
  color: inherit;
  text-decoration: none;
}

button, input, textarea, select {
  padding: 0;
  -webkit-transition: all .3s ease;
  -o-transition: all .3s ease;
  transition: all .3s ease;
}

button:hover, input:hover, textarea:hover, select:hover {
  opacity: 0.8;
}

strong {
  font-weight: bold;
}

em {
  font-style: italic;
}

img {
  max-width: 100%;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.justify-align {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}

.left-align {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

.right-align {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.center-align {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}

.flex {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
}

*::-webkit-input-placeholder {
  color: #959595;
  font-size: 12px;
  text-indent: 0;
  -webkit-transition: all .5s ease;
  -o-transition: all .5s ease;
  transition: all .5s ease;
}

*:-moz-placeholder {
  color: #959595;
  font-size: 12px;
  text-indent: 0;
  -webkit-transition: all .5s ease;
  -o-transition: all .5s ease;
  transition: all .5s ease;
}

*::-moz-placeholder {
  color: #959595;
  font-size: 12px;
  text-indent: 0;
  -webkit-transition: all .5s ease;
  -o-transition: all .5s ease;
  transition: all .5s ease;
}

*:-ms-input-placeholder {
  color: #959595;
  font-size: 12px;
  text-indent: 0;
  -webkit-transition: all .5s ease;
  -o-transition: all .5s ease;
  transition: all .5s ease;
}

.header-logo {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}

.header-logo__slogan {
  padding-top: 20px;
  padding-left: 30px;
  font-size: 15px;
  color: #746e6c;
  font-weight: 300;
}

.header-top {
  padding: 25px 0 35px;
  border-bottom: 1px solid #f0f0f0;
}

.header-top__right {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}

.header-contacts {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

.header-contacts__item {
  margin-right: 45px;
}

.header-contacts__item--address {
  display: block;
  font-weight: 300;
  color: #3d3837;
  line-height: 22px;
}

.header-contacts__item--tel {
  display: block;
  font-weight: bold;
  font-family: OpenSans;
  line-height: 23px;
}

.header-contacts__item--icon {
  display: block;
  margin-top: 5px;
  font-size: 15px;
  color: #989898;
}

.header-contacts__item--icon [class^="icon"] {
  position: relative;
  top: -1px;
  margin-right: 5px;
}

.header-cart {
  position: relative;
  width: 65px;
  height: 65px;
  background-color: #e9e9e9;
  background-image: url(../img/cart-ic.png);
  background-repeat: no-repeat;
  background-position: center;
  -webkit-border-radius: 50%;
          border-radius: 50%;
}

.header-cart__count {
  position: absolute;
  top: 0;
  right: -4px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 25px;
  height: 25px;
  line-height: 25px;
  background: #ffaf16;
  color: #fff;
  font-size: 15px;
  font-weight: bold;
  -webkit-border-radius: 50%;
          border-radius: 50%;
}

.icon-marker {
  display: inline-block;
  vertical-align: middle;
  width: 14px;
  height: 18px;
  background: url(../img/marker-ic.png);
}

.icon-phone {
  display: inline-block;
  vertical-align: middle;
  width: 18px;
  height: 18px;
  background: url(../img/phone-ic.png);
}

.main-menu > ul {
  list-style: none;
}

.main-menu > ul > li {
  display: inline-block;
}

.main-menu > ul > li > a {
  position: relative;
  display: inline-block;
  padding: 25px 45px;
  font-size: 16px;
  color: #888382;
  font-weight: bold;
}

.main-menu > ul > li > a:hover, .main-menu > ul > li > a:focus, .main-menu > ul > li > a.active {
  color: #000;
  opacity: 1;
  background: #eaeaea;
}

.main-menu > ul > li.dropdown {
  position: relative;
}

.main-menu > ul > li.dropdown:hover > a {
  color: #000;
  background: #eaeaea;
}

.main-menu > ul > li.dropdown > a {
  position: relative;
}

.main-menu > ul > li.dropdown > a::before {
  content: '';
  position: absolute;
  right: 30px;
  top: 31px;
  width: 6px;
  height: 6px;
  border-right: 1px solid #ffaf16;
  border-bottom: 1px solid #ffaf16;
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg);
}

.main-menu > ul > li.dropdown .dropdown-menu {
  position: absolute;
  display: none;
  list-style: none;
  left: 0;
  top: 100%;
  min-width: 230px;
  background: #eaeaea;
  z-index: 100;
  padding: 10px 25px 15px 18px;
  z-index: 10;
}

.main-menu > ul > li.dropdown .dropdown-menu li {
  padding: 5px 15px;
}

.main-menu > ul > li.dropdown .dropdown-menu li:last-child {
  border-bottom: 0;
  padding-bottom: 0;
}

.main-menu > ul > li.dropdown .dropdown-menu li a {
  display: block;
  font-size: 14px;
  color: #888382;
  white-space: nowrap;
}

.main-menu > ul > li.dropdown .dropdown-menu li a:hover {
  opacity: 1;
  color: #000;
}

.burger-menu {
  display: none;
  background: transparent;
  width: 30px;
  border: none;
  -webkit-border-radius: 3px;
          border-radius: 3px;
}

.burger-menu:focus {
  outline: none;
  opacity: 1;
}

.burger-menu span {
  position: relative;
  width: 100%;
  display: block;
  height: 2px;
  margin-bottom: 6px;
  background: #000;
  -webkit-transition: all 500ms ease-in-out;
  -o-transition: all 500ms ease-in-out;
  transition: all 500ms ease-in-out;
}

.burger-menu > span:last-child {
  margin-bottom: 0;
}

.burger-menu.active span:nth-of-type(1) {
  top: 8px;
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg);
}

.burger-menu.active span:nth-of-type(2) {
  background-color: transparent;
}

.burger-menu.active span:nth-of-type(3) {
  top: -8px;
  -webkit-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.btn {
  display: inline-block;
  padding: 16px 26px;
  font-weight: bold;
  color: #fff;
  background: #fdb62f;
  -webkit-border-radius: 4px;
          border-radius: 4px;
}

.btn:hover, .btn:focus {
  color: #fff;
}

.btn-arrow {
  position: relative;
  padding-right: 52px;
}

.btn-arrow:before {
  content: '';
  position: absolute;
  right: 25px;
  top: 23px;
  width: 6px;
  height: 6px;
  border-right: 2px solid #fff;
  border-bottom: 2px solid #fff;
  -webkit-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.btn-arrow:after {
  content: '';
  position: absolute;
  right: 25px;
  top: 25px;
  width: 9px;
  height: 2px;
  background: #fff;
}

.btn-arrow:hover {
  opacity: 1;
  -webkit-box-shadow: 0px 5px 5px 0px rgba(253, 182, 47, 0.4);
          box-shadow: 0px 5px 5px 0px rgba(253, 182, 47, 0.4);
}

.btn-white {
  color: #3d3331;
  background: #fff;
}

.btn-white:hover {
  color: #000;
  -webkit-box-shadow: 0px 5px 5px 0px rgba(255, 255, 255, 0.4);
          box-shadow: 0px 5px 5px 0px rgba(255, 255, 255, 0.4);
}

.btn-white:before {
  border-color: #ffaf16;
}

.btn-white:after {
  background: #ffaf16;
}

.btn-grey {
  color: #3d3837;
  background: #eaeaea;
}

.btn-grey:hover {
  color: #000;
  -webkit-box-shadow: 5px 5px 5px 0px rgba(234, 234, 234, 0.4);
          box-shadow: 5px 5px 5px 0px rgba(234, 234, 234, 0.4);
}

.btn-grey:before {
  border-color: #3d3837;
}

.btn-grey:after {
  background: #3d3837;
}

.btn-download {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  background: transparent;
  font-weight: 600;
  color: #3d3837;
  height: 42px;
  padding: 0 30px 0 52px;
  border: 1px solid #f0f0f0;
  -webkit-border-radius: 30px;
          border-radius: 30px;
}

.btn-download::before {
  content: '';
  position: absolute;
  left: 25px;
  top: 10px;
  width: 12px;
  height: 18px;
  background: url(../img/download-ic.png);
}

.btn-download:hover, .btn-download:focus {
  opacity: 1;
  border-color: #000;
  color: #000;
}

.btn-download__orange {
  background: #ffaf16;
}

.btn-cart {
  position: relative;
  padding-left: 50px;
  background: #fdb62f;
  color: #000;
}

.btn-cart::before {
  content: '';
  position: absolute;
  left: 14px;
  top: 13px;
  width: 25px;
  height: 22px;
  background: url(../img/cart-white-ic.png);
}

.btn-cart:hover, .btn-cart:focus {
  color: #000;
  opacity: 1;
  -webkit-box-shadow: 0px 5px 5px 0px rgba(253, 182, 47, 0.4);
          box-shadow: 0px 5px 5px 0px rgba(253, 182, 47, 0.4);
}

.banner.slick-dotted.slick-slider {
  margin-bottom: 50px;
}

.banner-item {
  position: relative;
}

.banner-item__overlay {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  padding: 80px 100px;
}

.banner-item__overlay p {
  max-width: 466px;
  margin-bottom: 30px;
  color: #595959;
}

.banner-item__title {
  position: relative;
  padding-bottom: 20px;
  margin-bottom: 25px;
  color: #3d3331;
}

.banner-item__title::before {
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  width: 38px;
  height: 5px;
  background: #ffaf16;
}

.banner-item__title strong {
  display: block;
  font-size: 59px;
}

.banner-item__title span {
  display: block;
  font-size: 36px;
}

.banner .slick-dots li {
  width: auto;
  height: auto;
  margin: 0 12px;
}

.banner .slick-dots li button {
  width: auto;
  height: auto;
  padding: 0;
}

.banner .slick-dots li button:before {
  color: #626262;
  opacity: 1;
  -webkit-box-shadow: 3px 3px 5px 0px #eaeaea;
          box-shadow: 3px 3px 5px 0px #eaeaea;
  font-size: 7px;
  line-height: 7px;
  width: 8px;
  height: 8px;
  width: auto;
  height: auto;
  -webkit-border-radius: 50%;
          border-radius: 50%;
}

.banner .slick-dots li.slick-active button:before {
  color: #ffaf16;
}

.slick-slide {
  outline: none;
}

.product-menu {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 50px;
}

.product-menu__item {
  width: 25%;
  padding: 40px 50px 30px;
  background: #f5f5f5;
}

.product-menu__item:nth-child(even) {
  background: #eaeaea;
}

.product-menu__item > img {
  display: block;
  margin-bottom: 8px;
}

.product-menu__item .h4 {
  margin-bottom: 15px;
}

.product-menu__item ul {
  list-style: none;
}

.product-menu__item ul li {
  line-height: 23px;
}

.product-menu__item ul li a {
  font-size: 15px;
  color: #5a5959;
}

.product-menu__item ul li a:hover {
  opacity: 1;
  color: #ffaf16;
}

.news-block__article .h4 {
  margin-bottom: 20px;
}

.news-block__article p {
  line-height: 22px;
  margin-bottom: 28px;
  font-weight: 30;
  color: #3d3837;
}

.news-block__wrap .h4 {
  margin-bottom: 20px;
}

.news-block__item {
  margin-bottom: 25px;
}

.news-block__item--img {
  display: block;
  margin-bottom: 10px;
}

.news-block__item--img img {
  display: block;
}

.footer {
  margin-top: 60px;
}

.footer-top {
  padding: 35px 0;
  border-top: 1px solid #f0f0f0;
  border-bottom: 1px solid #f0f0f0;
}

.footer-links {
  list-style: none;
}

.footer-links li {
  position: relative;
  display: inline-block;
  padding: 0 25px;
}

.footer-links li::before {
  content: '';
  position: absolute;
  right: 0;
  top: 8px;
  width: 5px;
  height: 5px;
  -webkit-border-radius: 50%;
          border-radius: 50%;
  background: #c4c3c3;
}

.footer-links li:first-child {
  padding-left: 0;
}

.footer-links li:last-child::before {
  display: none;
}

.footer-contacts {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

.footer-contacts__item {
  margin-left: 60px;
}

.footer-contacts__item > span {
  display: block;
  color: #3d3837;
  line-height: 23px;
  font-weight: 300;
}

.footer-contacts__item > a {
  display: block;
  font-weight: bold;
  line-height: 23px;
  font-family: OpenSans;
}

.footer-bottom {
  padding: 35px 0;
  text-align: center;
  color: #616161;
}

.footer-bottom a {
  color: #616161;
}

.inner .header {
  border-bottom: 1px solid #f0f0f0;
  margin-bottom: 40px;
}

.inner .header-wrap {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}

.inner .main-menu > ul > li > a {
  padding: 25px 32px;
}

.inner .main-menu > ul > li.dropdown > a::before {
  right: 13px;
}

.sidebar {
  width: 236px;
}

.sidebar-menu {
  padding: 30px 30px 20px;
  margin-bottom: 50px;
  border: 1px solid #f0f0f0;
}

.sidebar-menu ul {
  list-style: none;
}

.sidebar-menu ul li {
  border-bottom: 1px dotted #f0f0f0;
}

.sidebar-menu ul li:last-child {
  border: none;
}

.sidebar-menu ul li a {
  display: block;
  padding: 10px 0;
  font-weight: 600;
}

.content-wrap {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
}

.content-inner {
  width: -webkit-calc(100% - 236px);
  width: calc(100% - 236px);
  padding: 0 0 0 30px;
}

.breadcrumbs {
  margin: 0 0 30px;
  list-style: none;
}

.breadcrumbs li {
  display: inline-block;
  margin-right: -0.03em;
  font-size: 15px;
  color: #bfbfbf;
  font-weight: 300;
}

.breadcrumbs li + li::before {
  content: "→";
  padding: 0 10px 0 8px;
  font-size: 14px;
  display: inline-block;
  vertical-align: text-top;
}

.breadcrumbs li a {
  position: relative;
  color: #bfbfbf;
  font-weight: 300;
}

.article p {
  margin-bottom: 18px;
  line-height: 21px;
  color: #272727;
}

.article p a {
  color: #ffaf16;
  text-decoration: underline;
}

.article .news-block__wrap {
  margin-bottom: 40px;
}

.article .news-block__wrap .btn {
  display: block;
  max-width: 180px;
  margin: 0 auto;
}

.article > ul {
  margin-bottom: 30px;
  list-style: none;
}

.article > ul li {
  position: relative;
  padding: 0 0 0 30px;
  line-height: 27px;
}

.article > ul li::before {
  content: '';
  position: absolute;
  left: 0;
  top: 4px;
  width: 18px;
  height: 16px;
  background: url(../img/check-ic.png);
}

.article table {
  width: 100%;
  border-collapse: collapse;
}

.article table td {
  padding: 20px 40px;
  border: 1px solid #f0f0f0;
}

.article table td:first-child {
  width: 70%;
}

.article table thead td {
  font-weight: 600;
  border-bottom: 4px solid #ffaf16;
}

.sidebar-mobile__btn {
  display: block;
  outline: none;
  border: none;
  background-color: transparent;
}

.sidebar-mobile__btn:hover, .sidebar-mobile__btn:focus {
  opacity: 1;
}

.sidebar-mobile__btn span {
  position: relative;
  display: inline-block;
  -webkit-writing-mode: vertical-rl;
      -ms-writing-mode: tb-rl;
          writing-mode: vertical-rl;
  text-orientation: upright;
  text-transform: uppercase;
  max-height: 250px;
  font-size: 10px;
  padding-bottom: 10px;
  padding: 10px 10px 20px;
  background: #fff;
  -webkit-border-radius: 2px;
          border-radius: 2px;
  border: 1px solid #eaeaea;
  border-left: 0;
  z-index: 100;
}

.sidebar-mobile__btn span::before {
  content: '→';
  position: absolute;
  left: 0;
  bottom: 5px;
  font-size: 14px;
}

.sidebar-mobile__btn.active {
  position: absolute;
  right: -32px;
  top: 0px;
}

.sidebar-mobile__btn.active span::before {
  content: '←';
}

.catalog {
  margin: 30px 0 20px;
}

.catalog-menu {
  padding: 0 0 30px;
  border: 1px solid #f9f9f9;
}

.catalog-menu__header {
  position: relative;
  padding: 10px 15px 10px 34px;
  background: #f9f9f9;
  font-weight: 600;
}

.catalog-menu__header::before {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  width: 4px;
  background: #ffaf16;
}

.catalog-menu__item {
  list-style: none;
  padding: 11px 15px 11px 34px;
}

.catalog-menu__item li a {
  position: relative;
  padding: 8px 0 8px 15px;
  display: block;
  font-size: 15px;
}

.catalog-menu__item li a::before {
  content: '';
  position: absolute;
  left: 0;
  top: 15px;
  border: 3px solid transparent;
  border-left: 3px solid #000;
  -webkit-transition: all .3s;
  -o-transition: all .3s;
  transition: all .3s;
}

.catalog-menu__item li a:hover {
  text-decoration: underline;
  opacity: 1;
}

.catalog-menu__item li a:hover::before {
  left: 4px;
}

.catalog-item {
  position: relative;
  margin-bottom: 30px;
  overflow: hidden;
}

.catalog-item::before {
  content: '';
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background: rgba(48, 48, 48, 0.48);
  -webkit-transition: all .5s;
  -o-transition: all .5s;
  transition: all .5s;
  z-index: 1;
}

.catalog-item > img {
  display: block;
  -webkit-transition: all .5s;
  -o-transition: all .5s;
  transition: all .5s;
}

.catalog-item:hover::before {
  background: rgba(48, 48, 48, 0.68);
}

.catalog-item:hover img {
  -webkit-transform: scale(1.1);
      -ms-transform: scale(1.1);
          transform: scale(1.1);
}

.catalog-item__overlay {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  z-index: 10;
}

.catalog-item__text--header {
  margin-bottom: 10px;
  font-size: 18px;
  line-height: 27px;
  text-transform: uppercase;
  font-weight: bold;
  color: #fff;
}

.catalog-item__text--link {
  font-weight: 600;
  color: #ffaf16;
  text-decoration: underline;
}

.catalog-item__text--link:hover {
  opacity: 1;
  color: #ffaf16;
  text-decoration: none;
}

.select-box {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  overflow: hidden;
  max-width: 150px;
  border: 1px solid #cbcbcb;
  -webkit-border-radius: 3px;
          border-radius: 3px;
}

.select-box::before {
  content: '';
  position: absolute;
  right: 10px;
  top: 10px;
  width: 6px;
  height: 6px;
  border-right: 1.5px solid #cbcbcb;
  border-bottom: 1.5px solid #cbcbcb;
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg);
}

.select-box select {
  width: -webkit-calc(100% + 20px);
  width: calc(100% + 20px);
  padding: 3px 12px;
  border: none;
  background: #fff;
  outline: none;
  color: #525252;
  font-size: 16px;
}

.select-box select:hover, .select-box select:focus {
  opacity: 1;
}

.product-filter {
  padding: 12px 25px;
  margin-bottom: 35px;
  background: #f9f9f9;
  -webkit-border-radius: 4px;
          border-radius: 4px;
}

.product-filter > span {
  display: inline-block;
  padding-right: 14px;
  color: #525252;
}

.product > .row {
  margin-right: -11px;
  margin-left: -11px;
}

.product > .row [class^='col'] {
  padding-left: 11px;
  padding-right: 11px;
}

.product-item {
  min-height: 350px;
  text-align: center;
  margin-bottom: 25px;
}

.product-item__img {
  height: 215px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 12px;
}

.product-item__code {
  color: #a8a8a8;
}

.product-item__name {
  margin-bottom: 10px;
}

.product-item__name a {
  font-weight: bold;
  color: #ffaf16;
  text-decoration: underline;
}

.product-item__properties {
  list-style: none;
}

.product-item__properties li {
  font-size: 15px;
  color: #525252;
}

.product-cart .product-item {
  min-height: 270px;
}

.product-cart__wrap {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  margin-bottom: 50px;
}

.product-cart__image {
  width: 390px;
  margin-bottom: 30px;
}

.product-cart__img {
  height: 338px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 30px;
  border: 1px solid #bfbfbf;
  -webkit-border-radius: 4px;
          border-radius: 4px;
}

.product-cart__img img {
  max-height: 100%;
}

.product-cart__list {
  list-style: none;
}

.product-cart__list li {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  max-width: 240px;
  margin-bottom: 10px;
}

.product-cart__list li span {
  position: relative;
  width: 120px;
  background: #fff;
}

.product-cart__info {
  max-width: 380px;
  display: inline-block;
  margin-left: 40px;
  padding: 25px 50px 40px 50px;
  background: #f9f9f9;
  -webkit-border-radius: 4px;
          border-radius: 4px;
}

.product-cart__info .h5 {
  margin-bottom: 12px;
  font-weight: 600;
  color: #525252;
}

.check-item input[type="checkbox"] {
  display: none;
}

.check-item input[type="checkbox"] + label {
  position: relative;
  display: block;
  padding: 0 0 0 35px;
  cursor: pointer;
  font-size: 16px;
  font-weight: 600;
  color: #525252;
  font-family: OpenSans;
}

.check-item input[type="checkbox"] + label::before {
  content: '';
  position: absolute;
  left: 0;
  top: -1px;
  width: 25px;
  height: 25px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #fff;
  -webkit-border-radius: 3px;
          border-radius: 3px;
  border: 1px solid #bfbfbf;
}

.check-item input[type="checkbox"]:checked + label::before {
  background-image: url(../img/check.png);
  background-repeat: no-repeat;
  background-position: center;
}

.size-list {
  padding-bottom: 10px;
  list-style: none;
}

.size-list li {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 10px;
}

.size-list__count {
  position: relative;
  padding-left: 35px;
  margin-left: 15px;
}

.size-list__count::before {
  content: '';
  position: absolute;
  left: 0;
  top: 16px;
  width: 25px;
  height: 1px;
  background: #b1b1b1;
}

.size-list__count input {
  width: 62px;
  height: 36px;
  line-height: 36px;
  padding: 0 12px;
  border: 1px solid #b1b1b1;
  -webkit-border-radius: 3px;
          border-radius: 3px;
  background: #fff;
  outline: none;
}

.size-list__count input:focus {
  border-color: #000;
}

.pagination li {
  display: inline-block;
  text-align: center;
}

.pagination li:not(:first-child) {
  width: 50px;
  border-right: 1px solid #d1d1d1;
}

.pagination li:last-child {
  border: none;
}

.pagination li.active {
  color: #ffaf16;
}

.pagination li.active a {
  color: #ffaf16;
  pointer-events: none;
}

.attention {
  padding: 30px 0 0;
}

.attention-header {
  margin-bottom: 5px;
  font-weight: 600;
}

.attention p {
  font-weight: 300;
}

.attention p a {
  color: #ffaf16;
  text-decoration: underline;
}

@media only screen and (max-width: 1199px) {
  .main-menu > ul > li > a {
    padding: 20px 35px;
  }
  .main-menu > ul > li.dropdown > a::before {
    right: 20px;
    top: 26px;
  }
  .footer-contacts__item {
    margin-left: 40px;
  }
  .mm-spn .mobile-menu__contacts {
    border: none;
    margin-top: 30px;
  }
  .mm-spn .mobile-menu__contacts::before, .mm-spn .mobile-menu__contacts:after {
    display: none;
  }
  .mm-spn .mobile-menu__contacts .header-contacts__item .header-contacts__item--address, .mm-spn .mobile-menu__contacts .header-contacts__item .header-contacts__item--tel {
    padding-top: 5px;
    padding-bottom: 5px;
    border: none;
  }
  .mm-spn .mobile-menu__contacts .header-contacts__item .header-contacts__item--address::after, .mm-spn .mobile-menu__contacts .header-contacts__item .header-contacts__item--tel::after {
    display: none;
  }
  .banner-item__title strong {
    font-size: 46px;
  }
  .banner-item__title span {
    font-size: 22px;
  }
  .banner-item__overlay p {
    max-width: 380px;
  }
  .banner-item__overlay {
    padding: 40px 60px;
  }
  .inner .main-menu > ul > li > a {
    padding: 20px 20px;
    font-size: 14px;
  }
  .inner .main-menu > ul > li.dropdown > a::before {
    top: 24px;
    right: 7px;
  }
  .product-cart__image {
    width: 340px;
  }
  .product-cart__info {
    max-width: 294px;
    margin-left: 30px;
    padding: 20px 30px 30px 30px;
  }
}

@media only screen and (max-width: 991px) {
  .product-menu {
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
  }
  .product-menu__item {
    width: 50%;
    margin-bottom: 15px;
  }
  .product-menu {
    margin-bottom: 30px;
  }
  .news-block__article {
    margin-bottom: 50px;
  }
  .news-block__article p {
    margin-bottom: 15px;
  }
  .footer-top {
    padding: 15px 0;
  }
  .footer-top .justify-align {
    display: block;
    text-align: center;
  }
  .footer-contacts {
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-top: 15px;
  }
  .footer-bottom {
    padding: 15px 0;
  }
  .banner-item > img {
    display: none;
  }
  .banner-item__overlay {
    position: static;
    padding: 30px 40px;
    background: #ccc;
  }
  .sidebar-wrap {
    display: none;
  }
  .sidebar {
    position: absolute;
    left: 0;
    top: 150px;
    border: none;
  }
  .sidebar.active {
    position: absolute;
    left: 0;
    top: 150px;
    z-index: 20;
    background: #f5f5f5;
  }
  .sidebar.active .sidebar-mobile__btn span {
    background: #f5f5f5;
  }
  .sidebar.active .sidebar-wrap {
    display: block;
  }
  .content-inner {
    width: auto;
  }
  .inner .header {
    margin-bottom: 15px;
  }
  .breadcrumbs {
    margin: 0 0 20px;
  }
  .inner .header-wrap {
    padding: 5px 0;
    -webkit-box-pack: end;
    -webkit-justify-content: flex-end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }
}

@media only screen and (max-width: 768px) {
  .header-top {
    padding: 15px 0 15px;
  }
  .header-logo {
    max-width: 200px;
  }
  .mobile-menu__contacts .header-contacts__item {
    margin-right: 0;
  }
  .banner-item__title strong {
    font-size: 36px;
  }
  .banner-item__title span {
    font-size: 20px;
  }
  .article table td {
    padding: 8px 10px;
    font-size: 12px;
  }
  .product-cart__wrap {
    display: block;
  }
  .product-cart__info {
    margin-left: 0;
    display: block;
    max-width: none;
  }
}

@media only screen and (max-width: 479px) {
  .header-cart {
    width: 50px;
    height: 50px;
  }
  .header-logo {
    max-width: 150px;
  }
  .product-menu__item {
    width: 100%;
  }
  .btn {
    padding: 12px 25px;
  }
  .btn-arrow {
    padding-right: 40px;
  }
  .btn-arrow::before {
    top: 19px;
  }
  .btn-arrow:after {
    top: 21px;
  }
  .btn-download {
    padding-left: 40px;
  }
  .btn-download::before {
    left: 19px;
  }
  .footer-links li {
    display: block;
    text-align: center;
    padding: 0 0 5px;
  }
  .footer-links li::before {
    display: none;
  }
  .footer-contacts__item {
    margin-left: 0;
    margin: 0 10px;
    font-size: 12px;
  }
  .footer-bottom p {
    font-size: 12px;
  }
  .banner-item__title strong {
    font-size: 26px;
  }
  .banner-item__title span {
    font-size: 18px;
  }
  .product-cart__image {
    width: auto;
  }
  .btn-cart {
    font-size: 14px;
  }
  .btn-cart::before {
    display: none;
  }
  .product-item, .product-cart .product-item {
    min-height: auto;
  }
  .product-item__img {
    height: auto;
  }
  .pagination li {
    width: 36px;
    font-size: 14px;
  }
  .product-filter > span {
    padding: 0 0 5px;
    font-size: 14px;
  }
}
