@font-face
  font-family: 'Raleway'
  src: url('../fonts/Raleway/Raleway-Light.woff2') format("woff2")
  font-weight: 300
  font-style: normal

@font-face
  font-family: 'Raleway'
  src: url('../fonts/Raleway/Raleway-Regular.woff2') format("woff2")
  font-weight: normal
  font-style: normal

@font-face
  font-family: 'Raleway'
  src: url('../fonts/Raleway/Raleway-SemiBold.woff2') format("woff2")
  font-weight: 600
  font-style: normal

@font-face
  font-family: 'Raleway'
  src: url('../fonts/Raleway/Raleway-Bold.woff2') format("woff2")
  font-weight: bold
  font-style: normal

@font-face
  font-family: 'Raleway'
  src: url('../fonts/Raleway/Raleway-ExtraBold.woff2') format("woff2")
  font-weight: 800
  font-style: normal

@font-face
  font-family: 'OpenSans'
  src: url('../fonts/OpenSans/OpenSans.woff2') format("woff2")
  font-weight: normal
  font-style: normal

@font-face
  font-family: 'OpenSans'
  src: url('../fonts/OpenSans/OpenSans-Bold.woff2') format("woff2")
  font-weight: bold
  font-style: normal

@font-face
  font-family: 'OpenSans'
  src: url('../fonts/OpenSans/OpenSans-Semibold.woff2') format("woff2")
  font-weight: 600
  font-style: normal
