@import "vars"
@import "fonts"
@import "base"
// 2 - END of Tags styles and General styles ----------------------------------------------------------
// 3 - BEGIN of header ----------------------------------------------------------



.header

	&-logo
		display: flex
		align-items: center

		&__slogan
			padding-top: 20px
			padding-left: 30px
			font-size: 15px
			color: #746e6c
			font-weight: 300
	
	&-top
		padding: 25px 0 35px
		border-bottom: 1px solid #f0f0f0

		&__right
			display: flex
			align-items: center

	&-contacts
		display: flex

		&__item
			margin-right: 45px

			&--address
				display: block
				font-weight: 300
				color: #3d3837
				line-height: 22px

			&--tel
				display: block
				font-weight: bold
				font-family: OpenSans
				line-height: 23px

			&--icon
				display: block
				margin-top: 5px
				font-size: 15px
				color: #989898

				[class^="icon"]
					position: relative
					top: -1px
					margin-right: 5px

	&-cart
		position: relative
		width: 65px
		height: 65px
		background-color: #e9e9e9
		background-image: url(../img/cart-ic.png)
		background-repeat: no-repeat
		background-position: center
		border-radius: 50%

		&__count
			position: absolute
			top: 0
			right: -4px
			display: flex
			align-items: center
			justify-content: center
			width: 25px
			height: 25px
			line-height: 25px
			background: $main
			color: #fff
			font-size: 15px
			font-weight: bold
			border-radius: 50%




.icon-marker
	display: inline-block
	vertical-align: middle
	width: 14px
	height: 18px
	background: url(../img/marker-ic.png)

.icon-phone
	display: inline-block
	vertical-align: middle
	width: 18px
	height: 18px
	background: url(../img/phone-ic.png)






	
.main-menu

	>ul
		list-style: none

		>li
			display: inline-block
			


			>a
				position: relative
				display: inline-block
				padding: 25px 45px
				font-size: 16px
				color: #888382
				font-weight: bold

				&:hover, &:focus, &.active
					color: #000
					opacity: 1
					background: #eaeaea




			&.dropdown
				position: relative

				&:hover 
					>a
						color: #000
						background: #eaeaea

				>a
					position: relative
					

					&::before
						content: ''
						position: absolute
						right: 30px
						top: 31px
						width: 6px
						height: 6px
						border-right: 1px solid $main
						border-bottom: 1px solid $main
						transform: rotate(45deg)


				.dropdown-menu
					position: absolute
					display: none
					list-style: none
					left: 0
					top: 100%
					min-width: 230px
					background: #eaeaea
					z-index: 100
					padding: 10px 25px 15px 18px
					z-index: 10

					li
						padding: 5px 15px

						&:last-child
							border-bottom: 0
							padding-bottom: 0


						a
							display: block
							font-size: 14px
							color: #888382
							white-space: nowrap

							&:hover
								opacity: 1
								color: #000


.burger-menu
	display: none
	background: transparent
	width: 30px
	border: none
	border-radius: 3px
	&:focus
		outline: none
		opacity: 1
	span
		position: relative
		width: 100%
		display: block
		height: 2px
		margin-bottom: 6px
		background: #000
		transition: all 500ms ease-in-out
	> span:last-child
		margin-bottom: 0
	&.active span
		&:nth-of-type(1)
			top: 8px
			transform: rotate(45deg)
		&:nth-of-type(2)
			background-color: transparent
		&:nth-of-type(3)
			top: -8px
			transform: rotate(-45deg)


.btn
	display: inline-block
	padding: 16px 26px
	font-weight: bold
	color: #fff
	background: #fdb62f
	border-radius: 4px

	&:hover, &:focus
		color: #fff

	&-arrow
		position: relative
		padding-right: 52px

		&:before
			content: ''
			position: absolute
			right: 25px
			top: 23px
			width: 6px
			height: 6px
			border-right: 2px solid #fff
			border-bottom: 2px solid #fff
			transform: rotate(-45deg)

		&:after
			content: ''
			position: absolute
			right: 25px
			top: 25px
			width: 9px
			height: 2px
			background: #fff

		&:hover
			opacity: 1
			box-shadow: 0px 5px 5px 0px rgba(253,182,47,.4)

	&-white
		color: #3d3331
		background: #fff

		&:hover
			color: #000
			box-shadow: 0px 5px 5px 0px rgba(256,256,256,.4)

		&:before
			border-color: $main
		&:after
			background: $main

	&-grey
		color: #3d3837
		background: #eaeaea

		&:hover
			color: #000
			box-shadow: 5px 5px 5px 0px rgba(234,234,234,0.4)

		&:before
			border-color: #3d3837
		&:after
			background: #3d3837


	&-download
		position: relative
		display: flex
		align-items: center
		background: transparent
		font-weight: 600
		color: #3d3837
		height: 42px
		padding: 0 30px 0 52px
		border: 1px solid #f0f0f0
		border-radius: 30px

		&::before
			content: ''
			position: absolute
			left: 25px
			top: 10px
			width: 12px
			height: 18px
			background: url(../img/download-ic.png)

		&:hover, &:focus
			opacity: 1
			border-color: #000
			color: #000

		&__orange
			background: $main


	&-cart
		position: relative
		padding-left: 50px
		background: #fdb62f
		color: #000

		&::before
			content: ''
			position: absolute
			left: 14px
			top: 13px
			width: 25px
			height: 22px
			background: url(../img/cart-white-ic.png)

		&:hover, &:focus
			color: #000
			opacity: 1
			box-shadow: 0px 5px 5px 0px rgba(253,182,47,.4)
















.banner

	&.slick-dotted.slick-slider
		margin-bottom: 50px

	&-item
		position: relative

		&__overlay
			position: absolute
			left: 0
			right: 0
			top: 0
			bottom: 0
			padding: 80px 100px

			p
				max-width: 466px
				margin-bottom: 30px
				color: #595959

		&__title
			position: relative
			padding-bottom: 20px
			margin-bottom: 25px
			color: #3d3331

			&::before
				content: ''
				position: absolute
				left: 0
				bottom: 0
				width: 38px
				height: 5px
				background: $main

			strong
				display: block
				font-size: 59px

			span
				display: block
				font-size: 36px

	.slick-dots

		li
			width: auto
			height: auto
			margin: 0 12px

			button
				width: auto
				height: auto
				padding: 0

				&:before
					color: #626262
					opacity: 1
					box-shadow: 3px 3px 5px 0px rgba(234,234,234,1)
					font-size: 7px
					line-height: 7px
					width: 8px
					height: 8px
					width: auto
					height: auto
					border-radius: 50%

			&.slick-active
				button:before
					color: $main

.slick-slide
	outline: none



.product-menu
	display: flex
	margin-bottom: 50px

	&__item
		width: 25%
		padding: 40px 50px 30px
		background: #f5f5f5

		&:nth-child(even)
			background: #eaeaea

		>img
			display: block
			margin-bottom: 8px

		.h4
			margin-bottom: 15px

		ul
			list-style: none

			li
				line-height: 23px

				a
					font-size: 15px
					color: #5a5959

					&:hover
						opacity: 1
						color: $main




.news

	&-block
		
		&__article

			.h4
				margin-bottom: 20px

			p
				line-height: 22px
				margin-bottom: 28px
				font-weight: 30
				color: #3d3837

		&__wrap
			.h4
				margin-bottom: 20px

		&__item
			margin-bottom: 25px

			&--img
				display: block
				margin-bottom: 10px

				img
					display: block
	



.footer
	margin-top: 60px

	&-top
		padding: 35px 0
		border-top: 1px solid #f0f0f0
		border-bottom: 1px solid #f0f0f0

	&-links
		list-style: none

		li
			position: relative
			display: inline-block
			padding: 0 25px

			&::before
				content: ''
				position: absolute
				right: 0
				top: 8px
				width: 5px
				height: 5px
				border-radius: 50%
				background: #c4c3c3

			&:first-child
				padding-left: 0

			&:last-child

				&::before
					display: none


	&-contacts
		display: flex

		&__item
			margin-left: 60px

			>span
				display: block
				color: #3d3837
				line-height: 23px
				font-weight: 300

			>a
				display: block
				font-weight: bold
				line-height: 23px
				font-family: OpenSans

	&-bottom
		padding: 35px 0
		text-align: center
		color: #616161

		a
			color: #616161


.inner

	.header
		border-bottom: 1px solid #f0f0f0
		margin-bottom: 40px

	.header-wrap
		display: flex
		justify-content: space-between
		align-items: center

	.main-menu > ul > li > a
		padding: 25px 32px

	.main-menu > ul > li.dropdown > a::before
		right: 13px





.sidebar
	width: 236px


	&-menu
		padding: 30px 30px 20px
		margin-bottom: 50px
		border: 1px solid #f0f0f0

		ul
			list-style: none

			li
				border-bottom: 1px dotted #f0f0f0

				&:last-child
					border: none

				a
					display: block
					padding: 10px 0
					font-weight: 600




.content
	&-wrap
		display: flex
		flex-wrap: wrap


	&-inner
		width: calc(100% - 236px)
		padding: 0 0 0 30px


.breadcrumbs
	margin: 0 0 30px
	list-style: none

	li
		display: inline-block
		margin-right: -0.03em
		font-size: 15px
		color: #bfbfbf
		font-weight: 300

		+ li::before
			content: "→"
			padding: 0 10px 0 8px
			font-size: 14px
			display: inline-block
			vertical-align: text-top


		a
			position: relative
			color: #bfbfbf
			font-weight: 300


.article

	p
		margin-bottom: 18px
		line-height: 21px
		color: #272727

		a
			color: $main
			text-decoration: underline

	.news-block__wrap
		margin-bottom: 40px

		.btn
			display: block
			max-width: 180px
			margin: 0 auto


	>ul
		margin-bottom: 30px
		list-style: none
		
		li
			position: relative
			padding: 0 0 0 30px
			line-height: 27px

			&::before
				content: ''
				position: absolute
				left: 0
				top: 4px
				width: 18px
				height: 16px
				background: url(../img/check-ic.png)

	table
		width: 100%
		border-collapse: collapse

		td
			padding: 20px 40px
			border: 1px solid #f0f0f0

			&:first-child
				width: 70%

		thead

			td
				font-weight: 600
				border-bottom: 4px solid $main

				
.sidebar-mobile__btn
	display: block
	outline: none
	border: none
	background-color: transparent


	&:hover, &:focus
		opacity: 1

	span
		position: relative
		display: inline-block
		writing-mode: vertical-rl
		text-orientation: upright
		text-transform: uppercase
		max-height: 250px
		font-size: 10px
		padding-bottom: 10px
		padding: 10px 10px 20px
		background: #fff
		border-radius: 2px
		border: 1px solid #eaeaea
		border-left: 0
		z-index: 100

		&::before
			content: '→'
			position: absolute
			left: 0
			bottom: 5px
			font-size: 14px

	&.active
		position: absolute
		right: -32px
		top: 0px
		span
			&::before
				content: '←'




.catalog
	margin: 30px 0 20px

	&-menu
		padding: 0 0 30px
		border: 1px solid #f9f9f9

		&__header
			position: relative
			padding: 10px 15px 10px 34px
			background: #f9f9f9
			font-weight: 600

			&::before
				content: ''
				position: absolute
				left: 0
				top: 0
				bottom: 0
				width: 4px
				background: $main

		&__item
			list-style: none
			padding: 11px 15px 11px 34px

			li
				a
					position: relative
					padding: 8px 0 8px 15px
					display: block
					font-size: 15px

					&::before
						content: ''
						position: absolute
						left: 0
						top: 15px
						border: 3px solid transparent
						border-left: 3px solid #000
						transition: all .3s

					&:hover
						text-decoration: underline
						opacity: 1
						&::before
							left: 4px
							
	&-item
		position: relative
		margin-bottom: 30px
		overflow: hidden

		&::before
			content: ''
			position: absolute
			left: 0
			right: 0
			top: 0
			bottom: 0
			background: rgba(48,48,48,.48)
			transition: all .5s
			z-index: 1

		


		>img
			display: block
			transition: all .5s

		&:hover
			&::before
				background: rgba(48,48,48,.68)
			img
				transform: scale(1.1)


		&__overlay
			position: absolute
			left: 0
			right: 0
			top: 0
			bottom: 0
			display: flex
			align-items: center
			justify-content: center
			text-align: center
			z-index: 10

		&__text

			&--header
				margin-bottom: 10px
				font-size: 18px
				line-height: 27px
				text-transform: uppercase
				font-weight: bold
				color: #fff

			&--link
				font-weight: 600
				color: $main
				text-decoration: underline

				&:hover
					opacity: 1
					color: $main
					text-decoration: none

.select-box
	position: relative
	display: inline-block
	vertical-align: middle
	overflow: hidden
	max-width: 150px
	border: 1px solid #cbcbcb
	border-radius: 3px

	&::before
		content: ''
		position: absolute
		right: 10px
		top: 10px
		width: 6px
		height: 6px
		border-right: 1.5px solid #cbcbcb
		border-bottom: 1.5px solid #cbcbcb
		transform: rotate(45deg)

	select
		width: calc(100% + 20px)
		padding: 3px 12px
		border: none
		background: #fff
		outline: none
		color: #525252
		font-size: 16px

		&:hover, &:focus
			opacity: 1




.product

	&-filter
		padding: 12px 25px
		margin-bottom: 35px
		background: #f9f9f9
		border-radius: 4px

		>span
			display: inline-block
			padding-right: 14px
			color: #525252

	>.row
		margin-right: -11px
		margin-left: -11px

		[class^='col']
			padding-left: 11px
			padding-right: 11px

	&-item
		min-height: 350px
		text-align: center
		margin-bottom: 25px

		&__img
			height: 215px
			display: flex
			align-items: center
			justify-content: center
			margin-bottom: 12px

		&__code
			color: #a8a8a8

		&__name
			margin-bottom: 10px

			a
				font-weight: bold
				color: $main
				text-decoration: underline

		&__properties
			list-style: none

			li
				font-size: 15px
				color: #525252

	&-cart
		
		.product-item
			min-height: 270px

		&__wrap
			display: flex
			flex-wrap: wrap
			margin-bottom: 50px



		&__image
			width: 390px
			margin-bottom: 30px

		&__img
			height: 338px
			display: flex
			align-items: center
			justify-content: center
			margin-bottom: 30px
			border: 1px solid #bfbfbf
			border-radius: 4px

			img
				max-height: 100%

		&__list
			list-style: none

			li
				position: relative
				display: flex
				max-width: 240px
				margin-bottom: 10px

				span
					position: relative
					width: 120px
					background: #fff


		&__info
			max-width: 380px
			display: inline-block
			margin-left: 40px
			padding: 25px 50px 40px 50px
			background: #f9f9f9
			border-radius: 4px

			.h5
				margin-bottom: 12px
				font-weight: 600
				color: #525252



.check-item

	input[type="checkbox"]
		display: none

		&+label
			position: relative
			display: block
			padding: 0 0 0 35px
			cursor: pointer
			font-size: 16px
			font-weight: 600
			color: #525252
			font-family: OpenSans

			&::before
				content: ''
				position: absolute
				left: 0
				top: -1px
				width: 25px
				height: 25px
				display: flex
				align-items: center
				justify-content: center
				background-color: #fff
				border-radius: 3px
				border: 1px solid #bfbfbf

		&:checked
			&+label
				&::before
					background-image: url(../img/check.png)
					background-repeat: no-repeat
					background-position: center



.size-list
	padding-bottom: 10px
	list-style: none

	li
		display: flex
		align-items: center
		margin-bottom: 10px


	&__count
		position: relative
		padding-left: 35px
		margin-left: 15px

		&::before
			content: ''
			position: absolute
			left: 0
			top: 16px
			width: 25px
			height: 1px
			background: #b1b1b1

		input
			width: 62px
			height: 36px
			line-height: 36px
			padding: 0 12px
			border: 1px solid #b1b1b1
			border-radius: 3px
			background: #fff
			outline: none

			&:focus
				border-color: #000















.pagination

	li
		display: inline-block
		text-align: center

		&:not(:first-child)
			width: 50px
			border-right: 1px solid #d1d1d1

		&:last-child
			border: none

		&.active
			color: $main

			a
				color: $main
				pointer-events: none



.attention
	padding: 30px 0 0

	&-header
		margin-bottom: 5px
		font-weight: 600

	p
		font-weight: 300

		a
			color: $main
			text-decoration: underline
		



























@media only screen and (max-width: 1199px)
	.main-menu > ul > li > a
		padding: 20px 35px

	.main-menu > ul > li.dropdown > a::before
		right: 20px
		top: 26px

	.footer-contacts__item
		margin-left: 40px

	.mm-spn
		.mobile-menu__contacts
			border: none
			margin-top: 30px

			&::before, &:after
				display: none

			.header-contacts__item

				.header-contacts__item--address, .header-contacts__item--tel
					padding-top: 5px
					padding-bottom: 5px
					border: none

					&::after
						display: none

	.banner-item__title 
		strong
			font-size: 46px
		span
			font-size: 22px

	.banner-item__overlay p
		max-width: 380px

	.banner-item 
		&__overlay
			padding: 40px 60px

	.inner .main-menu > ul > li > a
		padding: 20px 20px
		font-size: 14px

	.inner .main-menu > ul > li.dropdown > a::before
		top: 24px
		right: 7px

	.product-cart__image
		width: 340px

	.product-cart__info
		max-width: 294px
		margin-left: 30px
		padding: 20px 30px 30px 30px














@media only screen and (max-width: 991px)
	.product-menu
		flex-wrap: wrap

		&__item
			width: 50%
			margin-bottom: 15px

	.product-menu
		margin-bottom: 30px

	.news-block__article
		margin-bottom: 50px

		p
			margin-bottom: 15px


	.footer-top
		padding: 15px 0

		.justify-align
			display: block
			text-align: center

	.footer-contacts
		justify-content: center
		margin-top: 15px

	.footer-bottom
		padding: 15px 0


	.banner-item 
		>img
			display: none

		&__overlay
			position: static
			padding: 30px 40px
			background: #ccc

	.sidebar-wrap
		display: none

	.sidebar
		position: absolute
		left: 0
		top: 150px
		border: none

		&.active
			position: absolute
			left: 0
			top: 150px
			z-index: 20
			background: #f5f5f5

			.sidebar-mobile__btn
				span
					background: #f5f5f5
			
			.sidebar-wrap
				display: block
	
	.content-inner
		width: auto


	.inner .header
		margin-bottom: 15px

	.breadcrumbs
		margin: 0 0 20px

	.inner .header-wrap
		padding: 5px 0
		justify-content: flex-end







@media only screen and (max-width: 768px)

	.header-top
		padding: 15px 0 15px
	
	.header-logo
		max-width: 200px


	.mobile-menu__contacts
		.header-contacts__item
			margin-right: 0

	.banner-item__title 
		strong
			font-size: 36px
		span
			font-size: 20px

	.article table td
		padding: 8px 10px
		font-size: 12px

	.product-cart__wrap
		display: block

	.product-cart__info
		margin-left: 0
		display: block
		max-width: none






@media only screen and (max-width: 479px)

	.header-cart
		width: 50px
		height: 50px

	.header-logo
		max-width: 150px

	.product-menu__item
		width: 100%

	.btn
		padding: 12px 25px

		&-arrow
			padding-right: 40px

			&::before
				top: 19px

			&:after
				top: 21px

		&-download
			padding-left: 40px

			&::before
				left: 19px

	.footer-links

		li
			display: block
			text-align: center
			padding: 0 0 5px

			&::before
				display: none


	.footer-contacts__item
		margin-left: 0
		margin: 0 10px
		font-size: 12px

	.footer-bottom
		p
			font-size: 12px


	.banner-item__title 
		strong
			font-size: 26px
		span
			font-size: 18px


	.product-cart__image
		width: auto

	.btn-cart
		font-size: 14px

		&::before
			display: none

	.product-item, .product-cart .product-item
		min-height: auto

	.product-item__img
		height: auto

	.pagination li
		width: 36px
		font-size: 14px

	.product-filter > span
		padding: 0 0 5px
		font-size: 14px


